{% extends "base.html" %}
{% load static i18n %}
{% load before_after %}

{% block meta %}
    {% get_before_after_seo as seo_obj %}
    {% include "components/base/meta.html" with obj=seo_obj %}
{% endblock %}

{% block content %}

    {% url "home" as book_appointment_url %}
    {% url "home" as download_app_url %}

    {% get_before_after_seo as seo_obj %}
    {% include "components/banner.html" with obj=seo_obj %}

    <section class="gallery-layout2">
        <div class="container step-section">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-md-8 col-sm-8 col-10">
                    <h2 class="ls-n-20 text-center section-heading">
                        {% trans "Discover our patients who renew their smile!" %}
                    </h2>
                </div>
            </div>
            <div class="row">
                {% for img in image_list %}
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="gallery-img">
                            <a class="popup-gallery-item" href="{{ img.image.url }}"><i class="fas fa-eye"></i></a>
                            <img src="{{ img.image.url }}" alt="gallery img">
                        </div><!-- /.gallery-img -->
                    </div><!-- /.col-lg-4 -->
                {% endfor %}

            </div><!-- /.row -->

            {% include "components/pagination.html" %}
        </div>
    </section><!-- /.gallery layout2 -->


    {% include "components/home/contact.html" %}

{% endblock %}

{% block popup_modal %}
    {% get_before_after_seo as obj %}
    {{ block.super }}
{% endblock %}