{% extends 'base.html' %}

{% block content %}

    <!------------------------------------------------
                hero slider - start
                ------------------------------------------------>
    <div class="intro-slider intro-slider-4 owl-carousel owl-theme owl-nav-inside bg-gradient owl-light slide-animate mb-0"
         data-toggle="owl" data-owl-options='{
                "dots": false,
                "nav": false,
                "touchDrag": false,
                "mouseDrag": false,
                "responsive": {
                    "1200": {
                        "nav": true,
                    },
                }
            }'>
        <!--
            background image is added through css and can be modified in the _sections.scss file
            the image is added to the .bg-section-19 class.
        -->
        <div class="banner intro-slide intro-slide-2 bg-section bg-section-19">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1">
                        <div class="banner-content">
                            <h2 class="banner-title">
                                Quality care that covers all of you.
                            </h2>
                            <p class="banner-info">
                                Our skilled doctors have tremendous experience
                                with wide range of diseases to serve the needs.
                            </p>
                            <div class="banner-actions">
                                <a href="appointment-step1.html" class="btn btn-secondary-color">
                                    <span>Book an Appointment</span>
                                </a>
                                <a href="how-it-works.html" class="btn">
                                    <span>Learn More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1 d-lg-inline-flex justify-content-lg-end">
                        <form class="book-form book-form-4 w-100">
                            <h4 class="sub-title ls-n-20 text-center">Book Appointment</h4>
                            <div class="input-group input-light">
                                <h6 class="input-title">Name</h6>
                                <input type="text" class="form-control" placeholder="Full name">
                            </div>
                            <div class="input-group input-light">
                                <h6 class="input-title">Email</h6>
                                <input type="email" class="form-control" placeholder="example@gmail.com">
                            </div>
                            <div class="input-group input-light">
                                <h6 class="input-title">Department</h6>
                                <div class="form-control select-control">Please select<i class="far fa-angle-down"></i>
                                </div>
                                <ul class="option-menu" id="option_menu_1">
                                    <li class="option-list"><span class="option"><i class="far fa-caret-right"></i>Most Recent</span>
                                    </li>
                                    <li class="option-list"><span class="option"><i class="far fa-caret-right"></i>Popular</span>
                                    </li>
                                    <li class="option-list"><span class="option"><i class="far fa-caret-right"></i>Oldest</span>
                                    </li>
                                    <li class="option-list"><span class="option"><i class="far fa-caret-right"></i>All times</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="input-group input-light input-calendar-light">
                                <h6 class="input-title">Date</h6>
                                <input type="text" id="form-calendar-light" class="form-control"
                                       placeholder="12/21/2020">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="input-group input-light">
                                <h6 class="input-title">Time</h6>
                                <div id="select_4" class="form-control select-control opacity-1">
                                    <div class="check-circle"><i class="fas fa-check"></i></div>
                                    <div class="primary-color">4:00<sup>PM</sup></div>
                                    Available
                                    <i class="far fa-angle-down"></i>
                                </div>
                                <ul class="option-menu" id="option_menu_4">
                                    <li class="option-list"><span class="option"><i
                                            class="far fa-caret-right"></i>5.00<sup>PM</sup></span></li>
                                    <li class="option-list"><span class="option"><i
                                            class="far fa-caret-right"></i>6.00<sup>PM</sup></span></li>
                                    <li class="option-list"><span class="option"><i
                                            class="far fa-caret-right"></i>7.00<sup>PM</sup></span></li>
                                    <li class="option-list"><span class="option"><i
                                            class="far fa-caret-right"></i>8.00<sup>PM</sup></span></li>
                                </ul>
                            </div>
                            <button type="submit" class="btn btn-secondary-color btn-form">
                                <span>Book Appointment</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="foreground-img">
                <img src="assets/images/demos/demo-4/slide/slide-1-fore.png" alt="Banner-slide">
            </div>
        </div>
        <!--
            background image is added through css and can be modified in the _sections.scss file
            the image is added to the .bg-section-20 class.
        -->
        <div class="banner intro-slide intro-slide-2 bg-section bg-section-20">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1">
                        <div class="banner-content">
                            <h2 class="banner-title">
                                Quality care that covers all of you.
                            </h2>
                            <p class="banner-info">
                                Our skilled doctors have tremendous experience
                                with wide range of diseases to serve the needs.
                            </p>
                            <div class="banner-actions">
                                <a href="appointment-step1.html" class="btn btn-secondary-color">
                                    <span>Book an Appointment</span>
                                </a>
                                <a href="how-it-works.html" class="btn">
                                    <span>Learn More</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1 d-lg-inline-flex justify-content-lg-end">
                        <form class="book-form book-form-4 w-100">
                            <h4 class="sub-title ls-n-20 text-center">Book Appointment</h4>
                            <div class="input-group input-light">
                                <h6 class="input-title">Name</h6>
                                <input type="text" class="form-control" placeholder="Full name">
                            </div>
                            <div class="input-group input-light">
                                <h6 class="input-title">Email</h6>
                                <input type="email" class="form-control" placeholder="example@gmail.com">
                            </div>
                            <div class="input-group input-light">
                                <h6 class="input-title">Department</h6>
                                <div class="form-control select-control">Please select<i class="far fa-angle-down"></i>
                                </div>
                                <ul class="option-menu" id="option_menu_1">
                                    <li class="option-list"><span class="option"><i class="far fa-caret-right"></i>Most Recent</span>
                                    </li>
                                    <li class="option-list"><span class="option"><i class="far fa-caret-right"></i>Popular</span>
                                    </li>
                                    <li class="option-list"><span class="option"><i class="far fa-caret-right"></i>Oldest</span>
                                    </li>
                                    <li class="option-list"><span class="option"><i class="far fa-caret-right"></i>All times</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="input-group input-light input-calendar-light">
                                <h6 class="input-title">Date</h6>
                                <input type="text" id="form-calendar-light" class="form-control"
                                       placeholder="12/21/2020">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="input-group input-light">
                                <h6 class="input-title">Time</h6>
                                <div id="select_4" class="form-control select-control opacity-1">
                                    <div class="check-circle"><i class="fas fa-check"></i></div>
                                    <div class="primary-color">4:00<sup>PM</sup></div>
                                    Available
                                    <i class="far fa-angle-down"></i>
                                </div>
                                <ul class="option-menu" id="option_menu_4">
                                    <li class="option-list"><span class="option"><i
                                            class="far fa-caret-right"></i>5.00<sup>PM</sup></span></li>
                                    <li class="option-list"><span class="option"><i
                                            class="far fa-caret-right"></i>6.00<sup>PM</sup></span></li>
                                    <li class="option-list"><span class="option"><i
                                            class="far fa-caret-right"></i>7.00<sup>PM</sup></span></li>
                                    <li class="option-list"><span class="option"><i
                                            class="far fa-caret-right"></i>8.00<sup>PM</sup></span></li>
                                </ul>
                            </div>
                            <button type="submit" class="btn btn-secondary-color btn-form">
                                <span>Book Appointment</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="foreground-img">
                <img src="assets/images/demos/demo-4/slide/slide-2-fore.png" alt="Banner-slide">
            </div>
        </div>
    </div>
    <!------------------------------------------------
    hero slider - end
    ------------------------------------------------>
    <!------------------------------------------------
    schedule section - start
    ------------------------------------------------>
    <div class="bg-primary-color schedule-section">
        <div class="container">
            <div class="row position-relative">
                <div class="col-lg-5 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1">
                    <div class="widget">
                        <h4 class="widget-title"><i class="far fa-clock"></i>Working hours</h4>
                        <p class="widget-desc">
                            Please check below for our working hours throughout
                            the week excluding national holidays.
                        </p>
                        <div class="widget-hours">
                            <span>Monday — Friday</span>
                            <span class="time">9:00<sup>AM</sup> — 10:00<sup>PM</sup></span>
                        </div>
                        <div class="widget-hours">
                            <span>Saturday — Sunday</span>
                            <span class="time">10:00<sup>AM</sup> — 9:00<sup>PM</sup></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1">
                    <div class="widget">
                        <h4 class="widget-title"><i class="far fa-heart-rate"></i>Doctors availability</h4>
                        <p class="widget-desc">
                            Our doctors are available most of the week and if not
                            you can always book appointment with other available
                            doctors on our panel of expert doctors.
                        </p>
                        <a href="doctors.html" class="btn btn-sm btn-secondary-color btn-secondary-color-1 ls-0">
                            <span>Meet Our Doctors</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------
    schedule section - end
    ------------------------------------------------>
    <!------------------------------------------------
    department preview section - start
    ------------------------------------------------>
    <div class="container department-preview-section">
        <div class="row">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-12 offset-lg-0">
                <h2 class="ls-n-20 text-center section-heading">We provide quality care that treats everyone.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0">
                <div class="icon-box hover-border text-center">
                    <a href="departments-detailed.html">
                        <figure>
                            <i class="fal fa-microscope"></i>
                        </figure>
                    </a>
                    <div class="icon-box-content">
                        <a href="departments-detailed.html"><h4 class="box-title">Haematology</h4></a>
                        <p class="box-desc">Forth unto night their fourth behold
                            earth sea living fruit I moveth.</p>
                        <div class="btn-link">
                            <a href="departments-detailed.html">Learn More</a><i class="far fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0">
                <div class="icon-box hover-border text-center">
                    <a href="departments-detailed.html">
                        <figure>
                            <i class="fal fa-teeth"></i>
                        </figure>
                    </a>
                    <div class="icon-box-content">
                        <a href="departments-detailed.html"><h4 class="box-title">Dental surgery</h4></a>
                        <p class="box-desc">Forth unto night their fourth behold
                            earth sea living fruit I moveth.</p>
                        <div class="btn-link">
                            <a href="departments-detailed.html">Learn More</a><i class="far fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0">
                <div class="icon-box hover-border text-center">
                    <a href="departments-detailed.html">
                        <figure>
                            <i class="fal fa-bone-break"></i>
                        </figure>
                    </a>
                    <div class="icon-box-content">
                        <a href="departments-detailed.html"><h4 class="box-title">Orthopaedic</h4></a>
                        <p class="box-desc">Forth unto night their fourth behold
                            earth sea living fruit I moveth.</p>
                        <div class="btn-link">
                            <a href="departments-detailed.html">Learn More</a><i class="far fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0">
                <div class="icon-box hover-border text-center">
                    <a href="departments-detailed.html">
                        <figure>
                            <i class="fal fa-scalpel-path"></i>
                        </figure>
                    </a>
                    <div class="icon-box-content">
                        <a href="departments-detailed.html"><h4 class="box-title">General surgery</h4></a>
                        <p class="box-desc">Forth unto night their fourth behold
                            earth sea living fruit I moveth.</p>
                        <div class="btn-link">
                            <a href="departments-detailed.html">Learn More</a><i class="far fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0">
                <div class="icon-box hover-border text-center">
                    <a href="departments-detailed.html">
                        <figure>
                            <i class="fal fa-head-side-brain"></i>
                        </figure>
                    </a>
                    <div class="icon-box-content">
                        <a href="departments-detailed.html"><h4 class="box-title">Neurology</h4></a>
                        <p class="box-desc">Forth unto night their fourth behold
                            earth sea living fruit I moveth.</p>
                        <div class="btn-link">
                            <a href="departments-detailed.html">Learn More</a><i class="far fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0">
                <div class="icon-box hover-border text-center">
                    <a href="departments-detailed.html">
                        <figure>
                            <i class="fal fa-heart-rate"></i>
                        </figure>
                    </a>
                    <div class="icon-box-content">
                        <a href="departments-detailed.html"><h4 class="box-title">Cardiology</h4></a>
                        <p class="box-desc">Forth unto night their fourth behold
                            earth sea living fruit I moveth.</p>
                        <div class="btn-link">
                            <a href="departments-detailed.html">Learn More</a><i class="far fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------
    department preview section - end
    ------------------------------------------------>
    <!------------------------------------------------
    review section - start
    ------------------------------------------------>
    <!--
        background image is added through css and can be modified in the _sections.scss file
        the image is added to the .bg-section-11 class.
    -->
    <div class="review-bg-section bg-section bg-section-11 type-section-margin-bottom">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-7 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
                    <div class="banner-content">
                        <h2 class="banner-title">
                            Hear from what our patients say.
                        </h2>
                        <div class="review-carousel owl-carousel owl-simple" data-toggle="owl" data-owl-options='{
									"nav": false,
									"dots": false,
									"margin": 35,
									"responsive": {
										"768": {
											"nav": true
										}
									}
								}'>
                            <div class="card card-review review-carousel align-items-start">
                                <div class="card-heading align-items-start">
                                    <figure>
                                        <img src="assets/images/avatar/avatar-6.png" class="avatar customer-avatar"
                                             alt="Avatar" width="102" height="102">
                                        <div class="card-review-quote">
                                            <span>“</span>
                                        </div>
                                    </figure>
                                    <div class="review-info">
                                        <h4 class="review-author">Jessica Blake</h4>
                                        <span class="review-city">New York, NY</span>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="review-desc ls-20">
                                        “This is a wonderful service for people who are curently
                                        without Medical Insurance. The doctor was very friendly and
                                        listened to my condition thoroughly with explaination to the
                                        treatment and appropriate prescription.”
                                    </p>
                                </div>
                            </div>
                            <div class="card card-review review-carousel align-items-start">
                                <div class="card-heading align-items-start">
                                    <figure>
                                        <img src="assets/images/avatar/avatar-7.png" class="avatar customer-avatar"
                                             alt="Avatar" width="102" height="102">
                                        <img src="assets/images/demos/demo-1/icons/icon-quote.png" class="quote-icon"
                                             alt="Icon-quote" width="55" height="55">
                                    </figure>
                                    <div class="review-info">
                                        <h4 class="review-author">Jessica Blake</h4>
                                        <span class="review-city">New York, NY</span>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <p class="review-desc ls-20">
                                        “This is a wonderful service for people who are curently
                                        without Medical Insurance. The doctor was very friendly and
                                        listened to my condition thoroughly with explaination to the
                                        treatment and appropriate prescription.”
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="banner-actions">
                            <a href="reviews.html" class="btn btn-secondary-color btn-md">
                                <span>Read All Reviews</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-rating">
                <div class="ratings-container">
                    <div class="ratings">
                        <div class="ratings-val" style="width: 100%;"></div>
                    </div>
                </div>
                <p class="card-info ls-0">
                    Over 400,000 patients treated and cared for.
                </p>
                <div class="btn-link">
                    <a href="reviews.html">Read reviews</a><i class="far fa-caret-right"></i>
                </div>
            </div>

        </div>
        <div class="foreground-img">
            <img src="assets/images/demos/demo-3/banner/banner-big-fore.png" alt="Banner-slide">
        </div>
    </div>
    <!------------------------------------------------
    review section - end
    ------------------------------------------------>
    <!------------------------------------------------
    doctor preview section - start
    ------------------------------------------------>
    <div class="container doctor-preview-section">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 col-sm-8 col-10">
                <h2 class="ls-n-20 text-center section-heading">Meet our expert and qualified doctors.</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="image-box doctor-card col-lg-4 col-sm-8 col-10">
                <figure>
                    <a href="doctors-detailed.html">
                        <img src="assets/images/doctors/doctor3-1.jpg" class="w-100" alt="Doctor" width="370"
                             height="407">
                        <div class="hover">
                            <div class="circle">
                                <i class="fas fa-link"></i>
                            </div>
                        </div>
                    </a>
                </figure>
                <div class="box-content">
                    <h4 class="box-title">James Benjamin</h4>
                    <p class="doctor-cat">Anesthesiologists</p>
                    <p class="box-desc">
                        All of our doctors are highly <br> skilled and have a minimum of <br>
                        15 years experience in U.S top <br> healthcare institutions.
                    </p>
                    <a href="javascript:;" class="btn-toggle"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="image-box doctor-card col-lg-4 col-sm-8 col-10">
                <figure>
                    <a href="doctors-detailed.html">
                        <img src="assets/images/doctors/doctor3-2.jpg" class="w-100" alt="Doctor" width="370"
                             height="407">
                        <div class="hover">
                            <div class="circle">
                                <i class="fas fa-link"></i>
                            </div>
                        </div>
                    </a>
                </figure>
                <div class="box-content">
                    <h4 class="box-title">Britney Adams</h4>
                    <p class="doctor-cat">Oncologists</p>
                    <p class="box-desc">
                        All of our doctors are highly <br> skilled and have a minimum of <br>
                        15 years experience in U.S top <br> healthcare institutions.
                    </p>
                    <a href="javascript:;" class="btn-toggle"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="image-box doctor-card col-lg-4 col-sm-8 col-10">
                <figure>
                    <a href="doctors-detailed.html">
                        <img src="assets/images/doctors/doctor3-3.jpg" class="w-100" alt="Doctor" width="370"
                             height="407">
                        <div class="hover">
                            <div class="circle">
                                <i class="fas fa-link"></i>
                            </div>
                        </div>
                    </a>
                </figure>
                <div class="box-content">
                    <h4 class="box-title">William Bowling</h4>
                    <p class="doctor-cat">Nephrologists</p>
                    <p class="box-desc">
                        All of our doctors are highly <br> skilled and have a minimum of <br>
                        15 years experience in U.S top <br> healthcare institutions.
                    </p>
                    <a href="javascript:;" class="btn-toggle"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="row btn-row">
            <div class="col-lg-12 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
                <div class="banner-actions d-flex justify-content-center">
                    <a href="doctors.html" class="btn btn-action btn-secondary-color">
                        <span>Meet All Doctors</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------
    doctor preview section - end
    ------------------------------------------------>
    <!------------------------------------------------
    type section - start
    ------------------------------------------------>
    <!--
        background image is added through css and can be modified in the _sections.scss file
        the image is added to the .bg-section-8 class.
    -->
    <div class="type-section bg-section bg-section-8">
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 offset-lg-0 col-md-8 col-sm-8 offset-sm-2 col-10 offset-1">
                        <div class="banner-content">
                            <div class="banner-content-wrapper">
                                <div class="banner-heading">
                                    <h2 class="banner-title">
                                        We provide quality care that treats everyone.
                                    </h2>
                                    <p class="banner-info">We provide primary care when you need it, get personalized
                                        and
                                        high quality healthcare by talking to top medical doctors.</p>
                                </div>
                            </div>
                            <div class="icon-boxes">
                                <div class="icon-box-wrapper">
                                    <div class="icon-box icon-box-1 icon-box-big text-center">
                                        <figure class="bg-secondary-color">
                                            <i class="fal fa-user-circle"></i>
                                        </figure>
                                        <div class="icon-box-content">
                                            <h4 class="box-title">Personal</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-wrapper">
                                    <div class="icon-box icon-box-1 icon-box-big text-center">
                                        <figure class="bg-primary-color">
                                            <i class="fal fa-baby-carriage"></i>
                                        </figure>
                                        <div class="icon-box-content">
                                            <h4 class="box-title">Children</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="icon-box-wrapper">
                                    <div class="icon-box icon-box-1 icon-box-big text-center">
                                        <figure class="bg-third-color">
                                            <i class="fal fa-users"></i>
                                        </figure>
                                        <div class="icon-box-content">
                                            <h4 class="box-title">Family</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="banner-actions">
                                <a href="membership.html" class="btn btn-secondary-color btn-md">
                                    <span>View Pricing Plans</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="foreground-img">
            <img src="assets/images/demos/demo-2/banner/banner-big-fore.png" alt="image">
        </div>
    </div>
    <!------------------------------------------------
    type section - end
    ------------------------------------------------>
    <!------------------------------------------------
    blog preview section - start
    ------------------------------------------------>
    <div class="container blog-preview-section">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 col-md-8 col-sm-8 col-10">
                <h2 class="ls-n-20 text-center section-heading">Read from latest blog posts.</h2>
            </div>
        </div>
        <div class="blog-slider row d-flex justify-content-center">
            <div class="post-box col-lg-4 col-md-8 col-sm-8 col-10">
                <figure>
                    <a href="blog-detailed.html">
                        <img src="assets/images/blog/blog1-1.jpg" alt="Blog" width="370" height="257">
                        <div class="hover">
                            <div class="circle">
                                <i class="fas fa-link"></i>
                            </div>
                        </div>
                    </a>
                </figure>
                <div class="box-content">
                    <h4 class="box-title"><a href="blog-detailed.html">Can you get a diflucan prescription online?</a>
                    </h4>
                    <p class="post-date"><a href="#">Dec 13, 2020</a><span class="text-divider">|</span><a
                            href="blog-detailed.html">2 Comments</a></p>
                    <p class="post-desc">
                        Fowl don't sea fill of divided by create female don't man image
                        female wherein night ...
                    </p>
                </div>
            </div>
            <div class="post-box col-lg-4 col-md-8 col-sm-8 col-10">
                <figure>
                    <a href="blog-detailed.html">
                        <img src="assets/images/blog/blog1-2.jpg" alt="Blog" width="370" height="257">
                        <div class="hover">
                            <div class="circle">
                                <i class="fas fa-link"></i>
                            </div>
                        </div>
                    </a>
                </figure>
                <div class="box-content">
                    <h4 class="box-title"><a href="blog-detailed.html">How long can corona virus live on surfaces?</a>
                    </h4>
                    <p class="post-date"><a href="#">Dec 13, 2020</a><span class="text-divider">|</span><a
                            href="blog-detailed.html">2 Comments</a></p>
                    <p class="post-desc">
                        Fowl don't sea fill of divided by create female don't man image
                        female wherein night ...
                    </p>
                </div>
            </div>
            <div class="post-box col-lg-4 col-md-8 col-sm-8 col-10">
                <figure>
                    <a href="blog-detailed.html">
                        <img src="assets/images/blog/blog1-3.jpg" alt="Blog" width="370" height="257">
                        <div class="hover">
                            <div class="circle">
                                <i class="fas fa-link"></i>
                            </div>
                        </div>
                    </a>
                </figure>
                <div class="box-content">
                    <h4 class="box-title"><a href="blog-detailed.html">The uninsured and working class people.</a></h4>
                    <p class="post-date"><a href="#">Dec 13, 2020</a><span class="text-divider">|</span><a
                            href="blog-detailed.html">2 Comments</a></p>
                    <p class="post-desc">
                        Fowl don't sea fill of divided by create female don't man image
                        female wherein night ...
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------------------
    blog preview section - end
    ------------------------------------------------>

{% endblock %}