{% extends 'base.html' %}
{% load homepage %}

{% block meta %}
    {% get_home_obj as obj %}
    {% include "components/base/meta.html" %}
{% endblock %}

{% block content %}

    {% include "components/home/slider.html" %}

    {% include "components/home/about.html" %}

    {% include "components/home/services.html" %}

    {% include "components/home/before-after.html" %}

    {% include "components/home/howitworks.html" %}

    {% include "components/home/contact.html" %}

    {% include "components/home/blog.html" %}

{% endblock %}

{% block popup_modal %}
    {% get_home_obj as obj %}
    {{ block.super }}
{% endblock %}