{% extends "base.html" %}
{% load static i18n %}
{% load howitworks %}

{% block meta %}
    {% get_howitworks_seo as seo_obj %}
    {% include "components/base/meta.html" with obj=seo_obj %}
{% endblock %}

{% block content %}

    {% get_howitworks_seo as seo_obj %}
    {% include "components/banner.html" with obj=seo_obj %}

    <div class="container step-section">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 col-md-8 col-sm-8 col-10">
                <h2 class="ls-n-20 text-center section-heading">
                    {% trans "How does our online consultation works?" %}
                </h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="banner-aside align-items-lg-start d-md-flex col-lg-12 col-md-8 col-sm-8 col-10">
                <figure class="mr-xl-10 mr-lg-5 mr-0">
                    <img src="{% static 'assets/images/demos/demo-2/banner/aside-1.png' %}" class="img-aside"
                         alt="Banner-aside"
                         width="470" height="447">
                </figure>
                <div class="banner-content">
                    <p class="banner-subtitle">{% trans "Step 1" %}</p>
                    <h3 class="banner-title">{% trans "Fill out our form with your treatment choice and other information." %}</h3>
                    <p class="banner-desc">
                        {% blocktrans trimmed %}
                            It will be enough to fill out our form to start your smile design journey. When filling out the form, make sure you enter your treatment request, country code and telephone number correctly! Our experts will get back to you as soon as possible with our free consultancy privileges.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="banner-aside banner-aside-switch align-items-lg-start d-md-flex img-right figure-over col-lg-12 col-md-8 col-sm-8 col-10">
                <figure>
                    <img src="{% static 'assets/images/demos/demo-2/banner/aside-2.png' %}" class="img-aside"
                         alt="Banner-aside"
                         width="470" height="447">
                </figure>
                <div class="banner-content">
                    <p class="banner-subtitle">{% trans "Step 2" %}</p>
                    <h3 class="banner-title">{% trans "Schedule a free consultation with our dental specialists." %}</h3>
                    <p class="banner-desc">
                        {% blocktrans trimmed %}
                            By filling out the form, you send a request for an interview with our dental health specialist. During your interview, you can have detailed information about pricing, treatment process, accommodation, transfer and all the issues you are curious about.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="banner-aside align-items-lg-start d-md-flex figure-over col-lg-12 col-md-8 col-sm-8 col-10">
                <figure class="mr-xl-10 mr-lg-5 mr-0">
                    <img src="{% static 'assets/images/demos/demo-2/banner/aside-3.png' %}" class="img-aside"
                         alt="Banner-aside"
                         width="470" height="447">
                </figure>
                <div class="banner-content">
                    <p class="banner-subtitle">{% trans "Step 3" %}</p>
                    <h3 class="banner-title">{% trans "Let your journey be planned to discover your new smile!" %}</h3>
                    <p class="banner-desc">
                        {% blocktrans trimmed %}
                           As soon as your oral and dental health journey is planned, your flight ticket is followed up by our transfer teams. Our teams will meet you at the airport. You will be transferred to your hotel. In our clinic, the most suitable dental health and aesthetic services are offered to you and we are with you throughout the procedure.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include "components/services/services-form.html" %}

    <br>

    {% include "components/home/contact.html" %}

{% endblock %}

{% block popup_modal %}
    {% get_howitworks_seo as obj %}
    {{ block.super }}
{% endblock %}