{% extends "base.html" %}
{% load static i18n %}
{% load howitworks %}

{% block meta %}
    {% get_howitworks_seo as seo_obj %}
    {% include "components/base/meta.html" with obj=seo_obj %}
{% endblock %}

{% block content %}

    {% get_howitworks_seo as seo_obj %}
    {% include "components/banner.html" with obj=seo_obj %}

    <div class="container step-section">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 col-md-8 col-sm-8 col-10">
                <h2 class="ls-n-20 text-center section-heading">
                    {% trans "How does our online consultation works?" %}
                </h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="banner-aside align-items-lg-start d-md-flex col-lg-12 col-md-8 col-sm-8 col-10">
                <figure class="mr-xl-10 mr-lg-5 mr-0">
                    <img src="{% static 'assets/images/demos/demo-2/banner/aside-1.png' %}" class="img-aside"
                         alt="Banner-aside"
                         width="470" height="447">
                    <img src="{% static 'assets/images/demos/demo-2/puzzle/puzzle-1.png' %}" class="puzzle" alt="Puzzle"
                         width="160"
                         height="217">
                </figure>
                <div class="banner-content">
                    <p class="banner-subtitle">{% trans "Step 1" %}</p>
                    <h3 class="banner-title">{% trans "Pick up prescription from your local pharmacy" %}</h3>
                    <p class="banner-desc">
                        {% blocktrans trimmed %}
                            No matter where you are or how busy your life gets, you can
                            talk to one of our many friendly and knowledgable doctors
                            online at a time that works with your schedule.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="banner-aside banner-aside-switch align-items-lg-start d-md-flex img-right figure-over col-lg-12 col-md-8 col-sm-8 col-10">
                <figure>
                    <img src="{% static 'assets/images/demos/demo-2/banner/aside-2.png' %}" class="img-aside"
                         alt="Banner-aside"
                         width="470" height="447">
                    <img src="{% static 'assets/images/demos/demo-2/puzzle/puzzle-2.png' %}" class="puzzle" alt="Puzzle"
                         width="160"
                         height="217">
                </figure>
                <div class="banner-content">
                    <p class="banner-subtitle">{% trans "Step 2" %}</p>
                    <h3 class="banner-title">{% trans "Use our app to talk to one of our doctors now." %}</h3>
                    <p class="banner-desc">
                        {% blocktrans trimmed %}
                            No matter where you are or how busy your life gets, you can
                            talk to one of our many friendly and knowledgable doctors
                            online at a time that works with your schedule.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="banner-aside align-items-lg-start d-md-flex figure-over col-lg-12 col-md-8 col-sm-8 col-10">
                <figure class="mr-xl-10 mr-lg-5 mr-0">
                    <img src="{% static 'assets/images/demos/demo-2/banner/aside-3.png' %}" class="img-aside"
                         alt="Banner-aside"
                         width="470" height="447">
                    <img src="{% static 'assets/images/demos/demo-2/puzzle/puzzle-3.png' %}" class="puzzle" alt="Puzzle"
                         width="160"
                         height="217">
                </figure>
                <div class="banner-content">
                    <p class="banner-subtitle">{% trans "Step 3" %}</p>
                    <h3 class="banner-title">{% trans "Pick up prescription from your local pharmacy" %}</h3>
                    <p class="banner-desc">
                        {% blocktrans trimmed %}
                            No matter where you are or how busy your life gets, you can
                            talk to one of our many friendly and knowledgable doctors
                            online at a time that works with your schedule.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    {% include "components/services/services-form.html" %}

    <br>

    {% include "components/home/contact.html" %}

{% endblock %}