{% extends "base.html" %}
{% load i18n %}
{% load services %}

{% block content %}

    {% include "components/banner.html" with obj=service %}

    <div class="container blog-detailed blog-detailed-sidebar padding-small">
        <div class="row">
            <div class="col-lg-8 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">

                <div>
                    <div class="blog-content">
                        {{ service.content|safe }}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
                <div class="side-bar">
                    {% include "components/home/slider-form.html" %}
                    <div class="sidebar-box">
                        <h4 class="box-title">{% trans "All Services" %}</h4>
                        <div class="box-content mt-0">
                            <ul class="cat-menu ls-20">
                                {% get_service_item_list as other_services %}
                                {% for other_service in other_services %}
                                    {% url "services_detail" slug=other_service.slug as service_detail_url %}
                                    <li class="menu-item">
                                        <a href="{{ service_detail_url }}" class="item-link">
                                            <i class="far fa-caret-right"></i> {{ other_service.banner_title }}
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    {% include "components/home/howitworks.html" %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}