{% extends "base.html" %}
{% load static i18n %}
{% load services %}

{% block meta %}
    {% if category %}
        {% include "components/base/meta.html" with obj=category %}
    {% else %}
        {% get_service_category_seo_obj as seo_obj %}
        {% include "components/base/meta.html" with obj=seo_obj %}
    {% endif %}
{% endblock %}

{% block content %}

    {% if category %}
        {% include "components/banner.html" with obj=category %}
    {% else %}
        {% get_service_category_seo_obj as category_seo %}
        {% include "components/banner.html" with obj=category_seo %}
    {% endif %}

    <div class="container blog-masonry-section padding-small">
        <div class="grid row">
            <div class="grid-sizer col-1"></div>

            {% for service in services %}
                {% include "components/services/service-item.html" %}
            {% endfor %}

        </div>

        {% include "components/pagination.html" %}
    </div>

    {% include "components/services/services-form.html" %}

    {% include "components/home/contact.html" %}

{% endblock %}

{% block popup_modal %}
    {% if category %}
        {% with obj=category  %}
            {{ block.super }}
        {% endwith %} 
    {% else %}
        {% get_service_category_seo_obj as obj %}
        {{ block.super }}
    {% endif %}
    
{% endblock %}