{% load i18n %}
<form action="{% url 'handle_appointment_form' %}" method="post" id="appointment-form">
    {% csrf_token %}

    <input type="hidden" name="appointment_type" value="{{ appointment_type }}">

    {% if messages %}
        {% for message in messages %}
            <div class="alert
                {% if message.tags == 'error' %}alert-danger {% else %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}

    {% endif %}

    <div class="row row-joined">
        <div class="col-md-12 col-lg-6">
            <div class="input-group input-light first-name">
                <h6 class="input-title mt-0">{% trans "Name & Surname" %}</h6>
                <input name="first_name" type="text" class="form-control"
                       placeholder="{% trans 'First Name' %}">
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="input-group input-light last-name">
                <input name="last_name" type="text" class="form-control"
                       placeholder="{% trans 'Last Name' %}">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="input-group input-light">
                <h6 class="input-title">{% trans "Email" %}</h6>
                <input name="email" type="email" class="form-control"
                       placeholder="{% trans 'Email' %}">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="input-group input-light">
                <h6 class="input-title">{% trans "Phone Number" %}</h6>
                <input name="phone" id="{{ phone_id|default:'contact-Phone' }}" type="text" class="form-control"
                       placeholder="555 555 55 55">
            </div>
        </div>
        <div class="col-lg-12">
            <div class="input-group input-light">
                <h6 class="input-title">{% trans "Treatment Selection" %}</h6>
                <select name="treatment" class="form-control">
                    <option value="">{% trans "Treatment Selection" %}</option>
                    <option value="Hollywood Smile">{% trans "Hollywood Smile" %}</option>
                    <option value="Dental Implant">{% trans "Dental Implant" %}</option>
                    <option value="Lamine Veener">{% trans "Lamine Veener" %}</option>
                    <option value="Teeth Whitening">{% trans "Teeth Whitening" %}</option>
                    <option value="Pedodontics">{% trans "Pedodontics" %}</option>
                    <option value="Periodontology">{% trans "Periodontology" %}</option>
                    <option value="Endodontics">{% trans "Endodontics" %}</option>
                    <option value="Orthodontics">{% trans "Orthodontics" %}</option>
                </select>
            </div>
        </div>

        {% include "components/recaptcha.html" %}

        <div class="col-lg-12 d-lg-flex">
            <button type="submit" class="btn btn-primary-color btn-form">
                <span>{% trans "Send" %}</span>
            </button>
        </div>
    </div>
</form>