{% load static i18n %}
{% load services %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'services' as services_url %}
{% url 'how_it_works' as howitworks_url %}
{% url 'before_after' as beforeafter_url %}
{% url 'blog_list' as blog_url %}
{% url 'gdpr' as gdpr_url %}
{% url 'home' as privacy_url %}

<footer class="footer bg-primary-color">
    <div class="container">
        <div class="footer-top">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-6 col-sm-7 col-10">
                    <a href="{{ home_url }}" class="logo">
                        <img src="{% static 'assets/images/logo-light.png' %}" alt="Dental Bosphorus"
                             width="185" height="48">
                    </a>
                </div>
                <div class="col-lg-6 col-sm-7 col-10 d-lg-flex justify-content-lg-end">
                    <div class="social-links">
                        <a href="{{ global_preferences.page__instagram_link }}" class="social-link" target="_blank">
                            <i class="fab fa-instagram"></i><span>{% trans "Instagram" %}</span>
                        </a>
                        <a href="{{ global_preferences.page__facebook_link }}" class="social-link" target="_blank">
                            <i class="fab fa-facebook"></i><span>{% trans "Facebook" %}</span>
                        </a>
                        <a href="{{ global_preferences.page__youtube_link }}" class="social-link" target="_blank">
                            <i class="fab fa-youtube"></i><span>{% trans "Youtube" %}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-3 col-sm-7 col-10">
                        <div class="info-box">
                            <h6 class="info-title">{% trans "Site Map" %}</h6>
                            <ul class="info-list">
                                <li><a href="{{ about_url }}" class="info-link">{% trans "About" %}</a></li>
                                <li><a href="{{ services_url }}" class="info-link">{% trans "Services" %}</a></li>
                                <li><a href="{{ howitworks_url }}" class="info-link">{% trans "How it works?" %}</a>
                                </li>
                                <li><a href="{{ beforeafter_url }}" class="info-link">{% trans "Before & After" %}</a>
                                </li>
                                <li><a href="{{ blog_url }}" class="info-link">{% trans "Blog" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-7 col-10">
                        <div class="info-box">
                            <h6 class="info-title">{% trans "Services" %}</h6>
                            <ul class="info-list">
                                {% get_service_category_list as service_categories %}
                                {% for service_category in service_categories %}

                                    <li>
                                        <a href="{{ services_url }}?category={{ service_category.slug }}"
                                           class="info-link">
                                            {{ service_category.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-7 col-10">
                        <div class="info-box">
                            <h6 class="info-title">{% trans "Privacy & GDPR" %}</h6>
                            <ul class="info-list">
                                <li><a href="{{ gdpr_url }}" class="info-link">{% trans "GDPR" %}</a></li>
                                <li><a href="{{ privacy_url }}" class="info-link">{% trans "Privacy Policy" %}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-7 col-10">
                        <div class="info-box">
                            <h6 class="info-title">{% trans "Dental Bosphorus on Map" %}</h6>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3008.431283723797!2d28.905482515663287!3d41.05956442421568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab1bc471d971d%3A0xb9a3b0adde6e1249!2sDental%20Bosphorus!5e0!3m2!1str!2str!4v1649764618161!5m2!1str!2str"
                                    width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12 col-sm-7 col-10">
                    <a href="https://theblackcapmedia.com/" target="_blank">
                    <p>Site by Black Cap Media</p>
                        </a>
                </div>
            </div>
        </div>
    </div>
</footer>
