{% load i18n %}
{% load services %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'services' as services_url %}
{% url 'how_it_works' as howitworks_url %}
{% url 'before_after' as beforeafter_url %}
{% url 'blog_list' as blog_url %}
{% url 'contact' as contact_url %}
{% url 'appointment' as book_appointment_url %}

<div class="mobile-menu-overlay"></div>

<div class="mobile-menu-container mobile-menu-light">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="fal fa-times"></i></span>

        <nav class="mobile-nav mt-5">
            <ul class="mobile-menu">
                <li>
                    <a href="{{ about_url }}">{% trans "About us" %}</a>

                </li>
                <li>
                    <a href="{{ services_url }}" class="sf-with-ul">{% trans "Services" %}</a>
                    <ul>
                        {% get_service_item_list as service_items %}
                        {% for service_item in service_items %}
                        {% url "services_detail" slug=service_item.slug as service_detail_url %}
                            <li>
                                <a href="{{ service_detail_url }}">
                                    <i class="fas fa-angle-right"></i>{{ service_item.banner_title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{{ howitworks_url }}">{% trans "How it works" %}</a>
                </li>
                <li>
                    <a href="{{ beforeafter_url }}">{% trans "Before & After" %}</a>
                </li>
                <li>
                    <a href="{{ blog_url }}">{% trans "Blog" %}</a>
                </li>
                <li>
                    <a href="{{ contact_url }}">{% trans "Contact" %}</a>
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="mobile-actions d-flex align-items-center">
            <a href="{{ book_appointment_url }}" class="btn btn-sm btn-secondary-color btn-block">
                <span>{% trans "Book an Appointment" %}</span>
            </a>
        </div><!-- End .mobile-actions -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->