{% load static i18n %}

{# TODO: Blog icerikleri guncellenecek... #}
<div class="post-box col-lg-4 col-md-8 col-sm-8 col-10">
    <figure>
        <a href="blog-detailed.html">
            <img src="{% static 'assets/images/blog/blog1-1.jpg' %}" alt="Blog" width="370" height="257">
            <div class="hover">
                <div class="circle">
                    <i class="fas fa-link"></i>
                </div>
            </div>
        </a>
    </figure>
    <div class="box-content">
        <h4 class="box-title"><a href="blog-detailed.html">Can you get a diflucan prescription online?</a></h4>
        <p class="post-date"><a href="#">Dec 13, 2020</a><span class="text-divider">|</span><a
                href="blog-detailed.html">2 Comments</a></p>
        <p class="post-desc">
            Fowl don't sea fill of divided by create female don't man image
            female wherein night ...
        </p>
    </div>
</div>