{% load static i18n %}
{% load services %}

{% url "services" as service_list_url %}
<div class="container department-preview-section pt-0">
    <div class="row">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-12 offset-lg-0">
            <h2 class="ls-n-20 text-center section-heading">{% trans "What is the first step for your dental health?" %}</h2>
        </div>
    </div>
    <div class="row">
        {% get_service_item_home_list as service_items %}
        {% for service_item in service_items %}
            {% url "services_detail" slug=service_item.slug as service_detail_url %}
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0">
                <div class="icon-box hover-border text-center">
                    <a href="{{ service_detail_url }}">
                        {% if service_item.icon %}
                            <figure>
                                {% if service_item.icon|slice:":2" == "fa" %}
                                    <i class="fal {{ service_item.icon }}"></i>
                                {% else %}
                                    <img src="{% static "assets/images/service_icons/"|add:service_item.icon %}"
                                         alt="{{ service_item.banner_title }}" class="w-75 h-50">
                                {% endif %}
                            </figure>
                        {% endif %}
                    </a>
                    <div class="icon-box-content">
                        <a href="{{ service_detail_url }}">
                            <h4 class="box-title">{{ service_item.banner_title }}</h4>
                        </a>
                        <p class="box-desc">{{ service_item.home_description|default:""|safe }}</p>
                        <div class="btn-link">
                            <a href="{{ service_detail_url }}">{% trans "Learn More" %}</a><i
                                class="far fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
