{% load i18n %}
{% load services %}


<div class="container department-preview-section pt-0">
    <div class="row">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-12 offset-lg-0">
            <h2 class="ls-n-20 text-center section-heading">{% trans "What is the first step for your dental health?" %}</h2>
        </div>
    </div>
    <div class="row">
        {% get_service_category_home_list as categories %}
        {% for category in categories %}
            {# TODO: Category url degisecek... #}
            {% url 'home' as category_detail_url %}
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0">
                <div class="icon-box hover-border text-center">
                    <a href="{{ category_detail_url }}">
                        {% if category.icon %}
                            <figure>
                                <i class="fal {{ category.icon }}"></i>
                            </figure>
                        {% endif %}
                    </a>
                    <div class="icon-box-content">
                        <a href="{{ category_detail_url }}"><h4 class="box-title">{{ category.name }}</h4></a>
                        <p class="box-desc">{{ category.description|safe|default:"" }}</p>
                        <div class="btn-link">
                            <a href="{{ category_detail_url }}">{% trans "Learn More" %}</a><i
                                class="far fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
