{% load static i18n %}
{% load services %}

{% url "services" as service_list_url %}
<div class="container department-preview-section pt-0">
    <div class="row">
        <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-12 offset-lg-0">
            <h2 class="ls-n-20 text-center section-heading">{% trans "What is the first step for your dental health?" %}</h2>
        </div>
    </div>
    <div class="row">
        {% get_service_category_home_list as categories %}
        {% for category in categories %}
            <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-lg-4 offset-lg-0">
                <div class="icon-box hover-border text-center">
                    <a href="{{ service_list_url }}?category={{ category.slug }}">

                        {% if category.icon %}
                            <figure>
                                {% if category.icon|slice:":2" == "fa" %}
                                    <i class="fal {{ category.icon }}"></i>
                                {% else %}
                                    <img src="{% static "assets/images/service_icons/"|add:category.icon %}"
                                         alt="{{ category.name }}" class="w-75 h-50">
                                {% endif %}
                            </figure>
                        {% endif %}
                    </a>
                    <div class="icon-box-content">
                        <a href="{{ service_list_url }}?category={{ category.slug }}">
                            <h4 class="box-title">{{ category.name }}</h4>
                        </a>
                        <p class="box-desc">{{ category.description|safe|default:"" }}</p>
                        <div class="btn-link">
                            <a href="{{ service_list_url }}?category={{ category.slug }}">{% trans "Learn More" %}</a><i
                                class="far fa-caret-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
