{% load static %}

{% url "services_detail" slug=service.slug as service_detail_url %}
<div class="grid-item col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1">
    <div class="post-box">
        <figure>
            <a href="{{ service_detail_url }}">
                {% if service.image %}
                <img src="{{ service.image.url }}" alt="{{ service.banner_title }}" width="370" height="257">
                {% endif %}
                <div class="hover">
                    <div class="circle">
                        <i class="fas fa-link"></i>
                    </div>
                </div>
            </a>
        </figure>
        <div class="box-content bg-light">
            <h4 class="box-title"><a href="{{ service_detail_url }}">{{ service.banner_title }}</a></h4>
            <p class="post-desc">
                {{ service.banner_description|safe|truncatewords_html:20 }}
            </p>
        </div>
    </div>
</div>