<!DOCTYPE html>
{% load static %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    {% block meta %}
        {% include "components/base/meta.html" %}
    {% endblock %}

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.png' %}">


    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific_popup.css' %}">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/phonePlugin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/phone_input.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom-styles.css' %}">

</head>
<body>

<div class="page-wrapper">
    {% include "components/base/header.html" %}

    <main class="main">
        {% block content %} {% endblock %}
    </main>

    {% include 'components/base/footer.html' %}
</div>

<a id="whatsapp-btn"
   href="{{ global_preferences.page__whatsapp_link }}" title="Whatsapp" class="sticky-button" target="_blank">
    <i class="fab fa-whatsapp"></i>
</a>
<button id="scroll-top" title="Back to Top" class="sticky-button"><i class="fal fa-angle-up"></i></button>

{% include 'components/base/mobile-menu.html' %}


<!-- Plugins JS File -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datepicker.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.pkgd.min.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'assets/js/main.min.js' %}"></script>

<script src="{% static 'assets/js/set_language.js' %}"></script>

<script src="{% static 'assets/js/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/popup-script.js' %}"></script>
<script src="{% static 'assets/js/plugins/phonePlugin.js' %}"></script>
<script src="{% static 'assets/js/site_carousels.js' %}"></script>

<script>
    var input = document.querySelector("#contact-Phone");
    var input2 = document.querySelector("#contact-side-phone");

    const inputConf = {
        allowDropdown: true,
        formatOnDisplay: true,
        hiddenInput: "contact-full_number",
        initialCountry: "{% if LANGUAGE_CODE == 'en' %}us{% else %}{{ LANGUAGE_CODE }}{% endif %}",
        placeholderNumberType: "MOBILE",
        preferredCountries: ['us', 'tr', 'de', 'it', 'es', 'ru'],
        separateDialCode: true,
        utilsScript: "{% static 'assets/js/plugins/phone.js' %}",
    }
    if (input){
        window.intlTelInput(input, inputConf);
    }
    if (input2){
        window.intlTelInput(input2, inputConf);
    }


    $(document).on('submit', '#form-contact', function (e) {
        let phoneInput = $('[name=contact-full_number]').val()
        if (!phoneInput.includes('+')) {
            $('#contact-Phone').addClass('is-invalid');
            $('#contact-Phone-error').removeClass('d-none');
            e.preventDefault();
        }
    })
</script>

{% block extra-script %}

{% endblock %}

</body>
</html>