<!DOCTYPE html>
{% load static %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Caremed - Home 4</title>
    <meta name="keywords" content="Caremed HTML5 Responsive Template Medicine COVID-19 Corona Hospital"/>
    <meta name="description" content="Caremed - Hospital HTML5 Responsive Template">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">


    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/datepicker.min.css' %}">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fontawesome/css/all.min.css' %}">

</head>
<body>

<div class="page-wrapper">
    {% include "components/base/header.html" %}

    <main class="main">
        {% block content %} {% endblock %}
    </main>

    {% include 'components/base/footer.html' %}
</div>

<button id="scroll-top" title="Back to Top"><i class="fal fa-angle-up"></i></button>

{% include 'components/base/mobile-menu.html' %}


<!-- Plugins JS File -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/datepicker.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.pkgd.min.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'assets/js/main.min.js' %}"></script>

<script src="{% static 'assets/js/set_language.js' %}"></script>

<script src="{% static 'assets/js/site_carousels.js' %}"></script>

</body>
</html>