{% load static i18n %}

{# TODO: Change book_appointment_url #}
{% url 'home' as contact_url %}

{% static "assets/images/demos/demo-4/slide/slide-1.jpg" as default_slider_image %}

<div class="intro-slider intro-slider-4 owl-carousel owl-theme owl-nav-inside bg-gradient owl-light slide-animate mb-0"
     data-toggle="owl" data-owl-options='{
                "dots": false,
                "nav": false,
                "touchDrag": false,
                "mouseDrag": false,
                "responsive": {
                    "1200": {
                        "nav": true,
                    },
                }
            }'>

    <div class="banner intro-slide intro-slide-2 bg-section"
            {% if obj.banner_image %}
         style="background-image: url('{{ obj.banner_image.url }}');"
            {% else %}
         style="background-image: url('{{ default_slider_image }}');"
            {% endif %}
    >
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1">
                    <div class="banner-content">
                        <h2 class="banner-title">
                            {% if obj.banner_title %}
                                {{ obj.banner_title|default_if_none:"" }}
                            {% elif obj.title %}
                                {{ obj.title|default_if_none:"" }}
                            {% else %}
                                {{ obj.name|default_if_none:"" }}
                            {% endif %}
                        </h2>
                        <p class="banner-info">
                            {% if obj.banner_description %}
                                {{ obj.banner_description|safe }}
                            {% elif obj.description %}
                                {{ obj.description|safe }}
                            {% endif %}
                        </p>
                        <div class="banner-actions">
                            <a href="{{ contact_url }}" class="btn btn-sm btn-primary-color">
                                <span>{% trans "Contact us" %}</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="foreground-img">
            {% if obj.banner_image %}
                <img src="{{ obj.banner_image.url }}" alt="{{ obj.banner_title }}">
            {% else %}
                <img src="{{ default_slider_image }}" alt="{{ obj.banner_title }}">
            {% endif %}
        </div>
    </div>
</div>
