{% load static i18n %}

{% static "assets/images/demos/demo-4/slide/slide-1.jpg" as default_slider_image %}
<div class="page-header bg-more-light"
        {% if obj.banner_image %}
     style="background-image: url('{{ obj.banner_image.url }}');"
        {% else %}
     style="background-image: url('{{ default_slider_image }}');"
        {% endif %}>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1">
                <h2 class="page-title">
                    {% if obj.banner_title %}
                        {{ obj.banner_title|default_if_none:"" }}
                    {% elif obj.title %}
                        {{ obj.title|default_if_none:"" }}
                    {% else %}
                        {{ obj.name|default_if_none:"" }}
                    {% endif %}
                </h2>
                <div class="banner-info">
                    {% if obj.banner_description %}
                        {{ obj.banner_description|safe|linebreaks }}
                    {% elif obj.description %}
                        {{ obj.description|safe|linebreaks }}
                    {% endif %}
                </div>
                {% if not hide_contact_button %}
                    <div class="banner-actions mt-5">
                        <a href="{{ contact_url }}" class="btn btn-primary-color">
                            <span>{% trans "Contact us" %}</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>