{% load static i18n %}

{# TODO: Change book_appointment_url #}
{% url 'home' as book_appointment_url %}

{% static "assets/images/demos/demo-4/slide/slide-1.jpg" as default_slider_image %}

<div class="intro-slider intro-slider-4 owl-carousel owl-theme owl-nav-inside bg-gradient owl-light slide-animate mb-0"
     data-toggle="owl" data-owl-options='{
                "dots": false,
                "nav": false,
                "touchDrag": false,
                "mouseDrag": false,
                "responsive": {
                    "1200": {
                        "nav": true,
                    },
                }
            }'>

    <div class="banner intro-slide intro-slide-2 bg-section"
            {% if slider.image %}
         style="background-image: url('{{ slider.image.url }}');"
            {% else %}
         style="background-image: url('{{ default_slider_image }}');"
            {% endif %}
    >
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-6 offset-lg-0 col-md-8 offset-md-2 col-10 offset-1">
                    <div class="banner-content">
                        <h2 class="banner-title">
                            About us
                        </h2>
                        <p class="banner-info">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum autem dolore mollitia
                            laborum minus dolorum explicabo iure ipsum? Reprehenderit, rem.
                        </p>
                        <div class="banner-actions">
                            <a href="{{ book_appointment_url }}" class="btn btn-sm btn-primary-color">
                                <span>{% trans "Book an Appointment" %}</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="foreground-img">
            <img src="{{ default_slider_image }}" alt="Banner-slide">
        </div>
    </div>
</div>
